//Colors
$background-color: #2a3458;
$sidebar-background-color: #18203d;
$border-color: rgba(0,0,0,0.12);

$text-primary: rgba(0,0,0,0.87);
$text-secondary: rgba(0,0,0,0.54);
$text-disabled: rgba(0,0,0,0.26);
$text-border: rgba(0,0,0,0.12);

$seats-green: #33c23a;
$seats-yellow: #ebd724;