.divider{
	width: 100%;
	height: 1px;
	height: calculateRem(1px);

	background-color: $border-color;
}

.container{
	@include padding-h(24px);
	@include padding-h(calculateRem(24px));
	@include padding-v(24px);
	@include padding-v(calculateRem(24px));
}

.container-mobile{
	$mobile-web-container-size: calculateRem(380px);

	width: $mobile-web-container-size;

	@include xxs-media{
		width: 100%;	
	}

	@include xs-media{
		width: 100%;	
	}

	@include s-media{
		width: $mobile-web-container-size;	
	}

	@include m-media{
		width: $mobile-web-container-size;	
	}

	@include l-media{
		width: $mobile-web-container-size;	
	}

	@include xl-media{
		width: $mobile-web-container-size;	
	}

	margin: 0 auto;

	background-color: $clr-white;
}