.CariRuteInput{
	display: block;

	margin-bottom: 8px;
	margin-bottom: calculateRem(8px);

	.block-left{
		display: block;

		width: 25%;
		float: left;

		box-sizing: border-box;
		padding-top: 38px;
		padding-top: calculateRem(38px);
	}

	.block-right{
		display: block;

		box-sizing: border-box;
		padding-left: 8px;
		padding-left: calculateRem(8px);
		padding-top: 16px;
		padding-top: calculateRem(16px);
		padding-bottom: 6px;
		padding-bottom: calculateRem(6px);

		width: 75%;
		float: right;

		border-bottom: 1px solid $border-color;
	}

	.circle{
		@include circle(20px);

		position: relative;
		z-index: 2;

		margin: 0 auto;

		background-color: $black-12;
	}

	&.tujuan .circle{
		box-sizing: border-box;

		background: none;

		border: 3px solid $black-12;

		&:before{
			position: absolute;
			border: 1px dashed $black-12;
			width: 0;
			height: 52px;
			display: block;
			content: ''; left: 50%;
			z-index: 1;
			bottom: 20px;
			margin-left: -1px;
		}
	}

	.location{
		@include text-subhead;
		color: $black-87;
		font-weight: $regular;
	}

	.label{
		@include text-caption-2;
		color: $black-54;
		text-transform: uppercase;

		margin-bottom: 4px;
		margin-bottom: calculateRem(4px);
	}
}