.CariRuteInput{
	display: block;

	margin-bottom: 8px;
	margin-bottom: calculateRem(8px);

	.block-left{
		display: block;

		width: 25%;
		float: left;

		box-sizing: border-box;
		padding-top: 38px;
		padding-top: calculateRem(38px);
	}

	.block-right{
		display: block;

		box-sizing: border-box;
	}

	.circle{
		@include circle(20px);

		position: relative;
		z-index: 2;

		margin: 0 auto;

		background-color: $black-12;
	}

	&.tujuan .circle{
		box-sizing: border-box;

		background: none;

		border: 3px solid $black-12;

		&:before{
			position: absolute;
			border: 1px dashed $black-12;
			width: 0;
			height: 52px;
			display: block;
			content: ''; left: 50%;
			z-index: 1;
			bottom: 20px;
			margin-left: -1px;
		}
	}

	.location{
		padding-bottom: 8px;
		padding-bottom: calculateRem(8px);

		@include text-headline;
		color: $white-100;
		font-weight: $regular;

		border-bottom: 1px solid $white-30;

	}

	&.tujuan{
		margin-top: 28px;
		margin-top: calculateRem(28px);
	}

	.label{
		@include text-body;
		font-size: 13px;
		font-size: calculateRem(13px);
		font-weight: $bold;
		color: $white-50;
		text-transform: uppercase;

		margin-bottom: 4px;
		margin-bottom: calculateRem(4px);
	}
}