.PilihRuteItem{
	.time{
		@include text-headline;
		text-align: center;

		margin-bottom: 0;
	}
	.text{
		@include text-body;
		text-align: center;

		line-height: 16px;
		line-height: calculateRem(16px);
	}

	.halte, .transit{
		margin-top: 3px;
		margin-top: calculateRem(3px);
		margin-bottom: 3px;
		margin-bottom: calculateRem(3px);
		padding-left: 7px;
		padding-left: calculateRem(7px);

		span{
			vertical-align: middle;

			margin: 0;

			@include text-body;
			font-size: 13px;
			font-size: calculateRem(13px);
		}

		i{
			vertical-align: middle;

			margin-right: 12px;
			margin-right: calculateRem(12px);

			font-size: 18px;
			font-size: calculateRem(18px);
			color: $black-26;	
		}
	}
}