.PilihRuteItem{
	.time{
		@include text-headline;
		text-align: center;

		margin-bottom: 0;
	}
	.text{
		@include text-body;
		text-align: center;

		line-height: 16px;
		line-height: calculateRem(16px);
	}
}