.RencanaRute{
	.header-rute{
		top: initial;

		@include text-body;
		font-weight: $bold;
		font-size: 13px;
		font-size: calculateRem(13px);
		text-transform: uppercase;
		color: $black-54;
	}

	.header-halte{
		@include text-caption;
		font-weight: $bold;
		font-size: 13px;
		font-size: calculateRem(13px);
		text-transform: uppercase;
		color: $black-54;
	}

	.time{
		@include text-headline;
		text-align: center;
		color: $white-100;

		margin-bottom: 0;
	}

	.text{
		@include text-body;
		text-align: center;
		color: $white-70;

		line-height: 16px;
		line-height: calculateRem(16px);
	}

	.RuteIndicator{
		margin: 0;
	}
}