.Rute{
	.header{
		position: relative;
		width: 100%;
		height: 200px;
		height: calculateRem(200px);

		background-color: $s-blue-darker;

		text-align: center;

		box-sizing: border-box;
		padding-top: 38px;
		padding-top: calculateRem(38px);
		padding-left: 24px;
		padding-left: calculateRem(24px);
		padding-right: 24px;
		padding-right: calculateRem(24px);

		.back{
			display: block;

			position: absolute;
			top: 0;
			left: 0;

			width: 56px;
			width: calculateRem(56px);
			height: 56px;
			height: calculateRem(56px);

			text-align: center;

			cursor: pointer;

			&:hover{
				background-color: rgba(255,255,255,0.3);
				transition: $trans-time;
			}

			i{
				font-size: 24px;
				font-size: calculateRem(24px);
				color: $white-100;
				line-height: 56px;
				line-height: calculateRem(56px);
			}
		}

		.rute{
			$rute-size: 54px;
			display: inline-block;

			@include circle($rute-size);
			@include circle(calculateRem($rute-size));

			@include text-headline;
			line-height: $rute-size;
			line-height: calculateRem($rute-size);
			text-align: center;
			color: $clr-white;

			background-color: $s-blue-light;

			margin-bottom: 12px;
			margin-bottom: calculateRem(12px);
		}

		.text{
			@include text-body;
			color: $clr-white;
		}
	}
}