.SectionDaftarHalte{
	background-color: $white-100;

	.halte-rute{
		font-size: 20px !important;
		font-size: calculateRem(20px) !important;

		padding-top: 20px !important;
		padding-top: calculateRem(20px) !important;
		padding-bottom: 20px !important;
		padding-bottom: calculateRem(20px) !important;

		svg{
			fill: $s-blue-light !important;
		}
	}
}