//Colors//
$black-87:		#212121;
$black-54:		#727272;
$black-26:		#b8b8b8;
$black-12:		#dadada;

$seats-dark-blue: #2a3458;

//Transition//
$trans-time:	0.3s;

//Typography//
$thin:			200;
$light:			300;
$regular:		400;
$medium:		500;
$bold:			700;

//Opacity//
$opc-main:		0.87;
$opc-sec:		0.54;
$opc-dis: 		0.26;
$opc-div: 		0.12;

//Media Queries//
$xxs-devices: 	"(min-width: 1px)";
$xs-devices: 	"(min-width: 220px)";
$s-devices: 	"(min-width: 380px)";
$m-devices:		"(min-width: 768px)";
$l-devices:		"(min-width: 992px)";
$xl-devices:	"(min-width: 1200px)";

$navbar-height: 56px;